@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<hr />
<h4>Send me an <a href="mailto:contact@sohailrahman.net">e-mail</a></h4>
<hr />
<p>Alternatively, if you would like to find out more about me you can access information at the following places:</p>
<ul class="square">
    <li><a href="http://SohailRahman.net">My Personal Website</a></li>
    <li><a href="https://www.linkedin.com/in/sohailrahman/">My LinkedIn</a></li>
    <li><a href="https://github.com/Sohail92">My GitHub</a></li>
</ul>